.judul-history {
    text-align: center;
    margin-top: 50px;
    margin-bottom: -75px;
}
.box-history {
    border: 4px solid;
    width: 80%;
    margin: 0 auto;
    margin-top: 200px;
    border-radius: 60px;
}

.content-history {
    margin: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.content-history p {
    margin-top: -20px;
    font-size: large;
    font-weight: bold;
}

.btn-history {
    border-radius: 50px;
    color: #e6212a;
    font-weight: bold;
    background-color: #212529;
    width: 50%;
    margin-left: 100px;
}

.history-bg {
    background: url("/src/Assets/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 105vh;
}