.box-login {
    height: 100vh;

}

.body-ku{
    background: url("/src/Assets/bg-login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.form-login {
    width: 30%;
    margin: 0 auto;
}
