.landingpage {
    background: url("/src/Assets/bg-admin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.button-landing {
    background-color: rgb(255, 0, 0);
    margin-left: 140px;
    margin-bottom: 350px;
    border-radius: 50px;
    border: none;
    color:rgb(255, 255, 255);
    min-width: 175px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.landingpage {
    border-color: aqua;
    border: 1px solid;
}

.tulisanlanding h1 {
    margin-left: 100px;
    margin-top: 150px;
    font-size: 100px;
    color: rgb(253, 254, 255);
}

.tulisanlanding h2 {
    margin-left: 120px;
    font-size: 50px;
    color: rgb(253, 254, 255);
}

.tulisanlanding p {
    margin-left: 130px;
    font-size: 20px;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
}